<H1>
  Trikeloggen
</H1>

<mat-form-field>
  <input matInput [matDatepicker]="startPicker" placeholder="Visa flyg från och med" (dateChange)="afterDate($event)">
  <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
  <mat-datepicker #startPicker></mat-datepicker>
</mat-form-field>
<mat-form-field>
  <input matInput [matDatepicker]="endPicker" placeholder="Visa flyg till och med" (dateChange)="beforeDate($event)">
  <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
  <mat-datepicker #endPicker></mat-datepicker>
</mat-form-field>

<table mat-table matSort [dataSource]="flightsSource">

  <!-- date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum </th>
    <td mat-cell *matCellDef="let flight" [class.warning]="!flight.date"> {{flight.date}} <mat-icon *ngIf="!flight.date">warning</mat-icon> </td>
  </ng-container>

  <!-- Tacko-start Column -->
  <ng-container matColumnDef="taco-start">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> tacko start </th>
    <td mat-cell *matCellDef="let flight"> {{flight.tackoStart}} </td>
  </ng-container>

  <!-- Tacko-end Column -->
  <ng-container matColumnDef="taco-end">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> tacko end </th>
    <td mat-cell *matCellDef="let flight"> {{flight.tackoEnd}} </td>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> typ </th>
    <td mat-cell *matCellDef="let flight"> {{flight.type}} </td>
  </ng-container>

  <!-- Pilot Column -->
  <ng-container matColumnDef="pilot">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> pilot </th>
    <td mat-cell *matCellDef="let flight"> {{flight.pilotName}} </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ta bort </th>
    <td mat-cell *matCellDef="let flight"> <button mat-raised-button (click)="deleteFlight(flight)" *ngIf="flight.flightId">ta bort flyget</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row [ngClass]="{'warning-bg': !flight.flightId}" *matRowDef="let flight; columns: displayedColumns;" ></tr>
</table>
<mat-paginator showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 25, 100, 1000]"></mat-paginator>

