<div [formGroup]="form">
  pris: {{price | currency:"SEK":"symbol"}}
  <mat-checkbox formControlName="trikePilotPay" class="sdfk-100-width">Betalas av trikepiloten</mat-checkbox>
  <div  *ngIf="!form.value.trikePilotPay" class="sdfk-100-width">
    <div>Kommentaren för flyget syns även i fakutran till personen nedan.</div>
    <sdfk-select-person class="sdfk-100-width" placeholder="person som faktutreras" [people]="people" [form]="form" key="billingPerson"></sdfk-select-person>
  </div>
</div>
