<H1>Rapportera Flygning </H1>
<form [formGroup]="flightForm" class="sdfk-form" (ngSubmit)="onSubmit()" novalidate>
  <div>
    <H3>Triken</H3>
    <!-- date -->
    <mat-form-field class="sdfk-50-width">
      <input matInput date [matDatepicker]="startPicker" placeholder="datum" formControlName="date" required>
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <!-- typ av flygning-->
    <mat-form-field class="sdfk-50-width">
      <mat-label>typ av flygning</mat-label>
      <mat-select formControlName="type" required>
        <mat-option *ngFor="let kind of flightTypes" [value]="kind">{{kind}}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <!-- tacko start -->
    <mat-form-field class="sdfk-50-width">
      <input number  pattern="[0-9]*(.[0-9]*)" matInput placeholder="tacko start" formControlName="tackoStart" required>
      <mat-error>{{flightForm.get('tackoStart').getError('tacko')}}</mat-error>
    </mat-form-field>

    <!-- tacko end -->
    <mat-form-field class="sdfk-50-width">
      <input matInput number  pattern="[0-9]*(.[0-9]*)" placeholder="tacko landning" formControlName="tackoEnd" required>
      <mat-error>{{flightForm.get('tackoStart').getError('tacko')}}</mat-error>
    </mat-form-field>

    <!-- trikepilot -->
    <sdfk-select-person class="sdfk-100-width" placeholder="trikepilot" [people]="people$|async" [form]="flightForm" key="trikePilot" required></sdfk-select-person>

    <!-- kommentar -->
    <mat-form-field class="sdfk-100-width">
      <textarea matInput formControlName="note" placeholder="kommentar" maxLength=5000></textarea>
      <mat-hint align="end">{{flightForm.value.note?.length}} / 5000</mat-hint>
    </mat-form-field>

  </div>
  <div>
    <H3>Betalning</H3>

    <!-- friflyg -->
    <div *ngIf="flightForm.value.type==='trikeflygning, privat'">
      <sdfk-trike-fee [price]="(flightForm.value.tackoEnd-flightForm.value.tackoStart)*price.freeFlight"
                      [form]="trikeFeeForm"
                      [people]="people$|async"></sdfk-trike-fee>
    </div>

    <!-- bogsering -->
    <div *ngIf="flightForm.value.type==='bogsering'">
      <sdfk-tow-fees [towCost]="getTowCost()"
                     [form]="towFeeForm"
                     [people]="people$|async"
                     [members]="members$|async"
                     [dayFee]="price.dayFee"
                     [date]="flightForm.value.date"></sdfk-tow-fees>
    </div>

    <!-- passagerarflyg -->
    <div *ngIf="flightForm.value.type==='passagerarflyg'">
      <h2>Not supported</h2>
    </div>

    <!-- service -->
    <div *ngIf="flightForm.value.type==='service'">
        <h2>Not supported</h2>
    </div>

      <button mat-raised-button type="submit" [disabled]="formState !== FormState.edit">{{getSubmitText()}}</button>
    <button mat-raised-button type="button" (click)="resetForm()">återställ formuläret</button>
  </div>
</form>
