<div [formGroup]="form">
  <div formArrayName="hgPilots" *ngFor="let row of formArray.controls; let i = index;">
    <div [formGroupName]="i">
    <!-- hg pilot -->
      <sdfk-select-person class="sdfk-30-width" placeholder="hängflygpilot" [people]="people" [required]="i===0" 
                          [form]="row" key="hgPilot"></sdfk-select-person>

      <!-- tow height -->
      <mat-form-field class="sdfk-15-width">
        <input matInput number [required]="i===0" placeholder="bogserhöjd" formControlName="towHeight">
        <mat-error>{{getErrorMessage(i)}}</mat-error>
      </mat-form-field>

      <!-- tow price -->
      <span class="sdfk-20-width">{{rows[i]?.price | currency:"SEK"}}</span>
      <!-- day fee -->
      <span class="sdfk-15-width">{{rows[i]?.dayFee | currency:"SEK"}}</span>
      <!-- total cost -->
      <span class="sdfk-20-width">{{rows[i]?.price + rows[i]?.dayFee | currency:"SEK"}}</span>
    </div>
  </div>
  <button mat-raised-button (click)="addTowRow()">fler rader</button>
  <section>total bogserkostnad: {{totalPrice | currency:"SEK"}}</section>
  <section>total bogserhöjd: {{totalTowHeight}}</section>
  </div>