<span [formGroup]='form'>
  <mat-form-field class='person-container'>
    <input type="text" [placeholder]="placeholder" matInput [formControlName]="key" [matAutocomplete]="auto" [required]="required">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let person of filteredPeople | async" [value]="person">
        {{displayFn(person)}}
      </mat-option>
    </mat-autocomplete>
    <mat-error>{{ getErrorMessage() }}</mat-error>
  </mat-form-field>
</span>