<H1>
  Saldo på flygkonton
</H1>

<table mat-table matSort [dataSource]="balancesSource">

  <!-- pilot Column -->
  <ng-container matColumnDef="pilot">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> pilot </th>
    <td mat-cell *matCellDef="let balance"> {{balance.pilotName}} </td>
  </ng-container>
    
  <!-- balance Column -->
  <ng-container matColumnDef="balance">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>  saldo </th>
    <td mat-cell *matCellDef="let balance"> {{balance.balance}} </td>
  </ng-container>
    
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let balance; columns: displayedColumns;" ></tr>
</table>
<mat-paginator showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 25, 100, 500]"></mat-paginator>
