<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/report" routerLinkActive="active">Rapportera flyg</a>
      <a mat-list-item routerLink="/flights" routerLinkActive="active">Trikeloggen</a>
      <a mat-list-item routerLink="/transactions" routerLinkActive="active">Transaktioner på flygkonton</a>
      <a mat-list-item routerLink="/balance" routerLinkActive="active">Saldo</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="toolbar-spacer"></span>
      <span>Skånes Drakflygklubb</span>
      <span class="toolbar-spacer"></span>
      <holmby-auth-menu></holmby-auth-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
