<H1>Transaktioner på flygkonton</H1>

<H3>filter</H3>
<form [formGroup]="filterForm" class="sdfk-form" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <input matInput [matDatepicker]="startPicker" placeholder="Visa kontohändelser från och med" (dateChange)="afterDate($event)">
    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
    <mat-datepicker #startPicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="endPicker" placeholder="Visa kontohändelser till och med" (dateChange)="beforeDate($event)">
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field>

  <sdfk-select-person class="sdfk-100-width" placeholder="person" [people]="people$|async" [form]="filterForm" key="person"></sdfk-select-person>
</form>

<table mat-table matSort [dataSource]="transactionsSource">

  <!-- date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum </th>
    <td mat-cell *matCellDef="let transaction" [class.warning]="!transaction.date"> {{transaction.date}} <mat-icon *ngIf="!transaction.date">warning</mat-icon> </td>
  </ng-container>

  <!-- height Column -->
  <ng-container matColumnDef="height">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>  höjd </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.height}} </td>
  </ng-container>

  <!-- day-fee Column -->
  <ng-container matColumnDef="day-fee">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> dagsavgift </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.dayFee}} </td>
  </ng-container>

  <!-- price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> totalt pris </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.price}} </td>
  </ng-container>

  <!-- type Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> typ </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.type}} </td>
  </ng-container>

  <!-- pilot Column -->
  <ng-container matColumnDef="pilot">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> pilot </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.pilotName}} </td>
  </ng-container>

  <!-- note Column -->
  <ng-container matColumnDef="note">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> kommentar </th>
    <td mat-cell *matCellDef="let transaction"> {{transaction.note}} </td>
  </ng-container>

  <!-- Delete Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ta bort </th>
    <td mat-cell *matCellDef="let transaction"> <button mat-raised-button (click)="deleteTransaction(transaction)" *ngIf="transaction.transactionId">ta bort transaktionen</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let transaction; columns: displayedColumns;" ></tr>
</table>
<mat-paginator showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[5, 10, 15, 25, 100, 500]"></mat-paginator>

