/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.sdfk-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

/*
.sdfk-form  .mat-form-field {
  padding: 5px;
  box-sizing: border-box;
}
*/

.sdfk-100-width { width: 100%; }
.sdfk-90-width { width: 90%; display: inline-block; }
.sdfk-80-width { width: 80%; display: inline-block; }
.sdfk-70-width { width: 70%; display: inline-block; }
.sdfk-60-width { width: 60%; display: inline-block; }
.sdfk-50-width { width: 50%; display: inline-block; }
.sdfk-40-width { width: 40%; display: inline-block; }
.sdfk-30-width { width: 30%; display: inline-block; }
.sdfk-33-width { width: 33%; display: inline-block; }
.sdfk-25-width { width: 25%; display: inline-block; }
.sdfk-20-width { width: 20%; display: inline-block; }
.sdfk-15-width { width: 15%; display: inline-block; }
.sdfk-10-width { width: 10%; display: inline-block; }

